body {
/* background-image: url('image/background1.jpg'); /* Путь к фоновому изображению */

}
h1 {
}
p {
}
#logo
{
	width: 100%;
/*	background-image: url(template/images/logo.jpg); */
	height: 150px;
	background-repeat: no-repeat;
	/*+placement:margin-auto 0px 0px;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;
}
#logotip
{
	width: 100px;
	height: 180px;
	position: absolute;
	left: 	0px;
	top: 0px;
}
#zagolovok
{
	text-align: center;
	font-family: Cambria;
	color: #08088A;
	font-size: 15pt;
	padding-top: 0px;
}
#footer
{
	background-image: url(template/images/bottom.png);
	text-align: center;
	width: 663px;
	/*+placement:margin-auto 0px 0px;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;
	background-repeat: no-repeat;
	font-family: Cambria;
	height: 22px;
	padding-top: 17px;
	font-size: 9.6pt;
}
#telefon
{
	width: 300px;
	height: 100px;
	position: relative;
/*	left: 903px; */
	top: 0px;
	font-size: 14pt;
	margin-left: auto
}
table
{
	margin-left: auto;
	margin-right: auto;
}
